.background {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  overflow: hidden;
}

.wrapper {
  max-width: var(--desktop);
  width: 100%;
  margin: 0 auto;
}

.container {
  padding-top: 50px;
}

.main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
